Assets/StylizedTown/Textures/Cobblestone_normal.png filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/InteractableObjs/Electronics/panasonic-tr-545c-rad-ed/textures/GAP_2DAE01_Adriaens_Naomi_N_01.png filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/Ch31_nonPBR@Waving.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/worker.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/milkman.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/Ch22_nonPBR@Standing.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/Ch31_nonPBR@Idle.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/librarian.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/InteractableObjs/Set/LowPolyOfficeProps_LITE/LowPolyOfficeProps_LiteScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
Assets/Meshes/InteractableObjs/Paper/PaperBox1/Warehouse_Pack_HD/Common/Textures/Cardboard_boxes_1_1_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/Animations/NPCs/Ch22_nonPBR@Waving.fbx filter=lfs diff=lfs merge=lfs -text
